<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>arbitrosServlet</servlet-name>
        <servlet-class>arbitros.arbitrosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>entrenadoresServlet</servlet-name>
        <servlet-class>entrenadores.entrenadoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>equiposServlet</servlet-name>
        <servlet-class>equipos.equiposServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fasesServlet</servlet-name>
        <servlet-class>fases.fasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jugadoresServlet</servlet-name>
        <servlet-class>jugadores.jugadoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lugaresServlet</servlet-name>
        <servlet-class>lugares.lugaresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modalidadesServlet</servlet-name>
        <servlet-class>modalidades.modalidadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nacionalidadesServlet</servlet-name>
        <servlet-class>nacionalidades.nacionalidadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paisesServlet</servlet-name>
        <servlet-class>paises.paisesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>partidosServlet</servlet-name>
        <servlet-class>partidos.partidosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>premiosServlet</servlet-name>
        <servlet-class>premios.premiosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>arbitrosServlet</servlet-name>
        <url-pattern>/arbitros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>entrenadoresServlet</servlet-name>
        <url-pattern>/entrenadores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>equiposServlet</servlet-name>
        <url-pattern>/equipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fasesServlet</servlet-name>
        <url-pattern>/fases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jugadoresServlet</servlet-name>
        <url-pattern>/jugadores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lugaresServlet</servlet-name>
        <url-pattern>/lugares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modalidadesServlet</servlet-name>
        <url-pattern>/modalidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nacionalidadesServlet</servlet-name>
        <url-pattern>/nacionalidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paisesServlet</servlet-name>
        <url-pattern>/paises</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>partidosServlet</servlet-name>
        <url-pattern>/partidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>premiosServlet</servlet-name>
        <url-pattern>/premios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
